yazar.xsd


<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://www.w3schools.com"
xmlns="https://www.w3schools.com"
elementFormDefault="qualified">

<xs:element name="Authors">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="author_id" type="xs:number"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="country" type="xs:string"/>
      <xs:element name="birthdate" type="xs:date"/>
      <xs:element name="gender" type="xs:string"/>
      <xs:element name="language" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>